<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Person Managment App</h1>
    <p class="lead">
      A directory where you can add and edit people.
    </p>
  </div>
</div>

<div class="container">
  <p>
    Welcome to the person management app. This is a simple application where you can add and edit people.
  </p>

  <p>
    To get started, click the button below to view the list of people.
  </p>
  
  <button type="button" class="btn btn-primary" [routerLink]="['/people']">
    View People
  </button>
</div>